 body{
    background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(103, 75, 13, 1) 56%, rgba(0, 0, 0, 1) 100%);
  margin:0;
 } 

 /* body {
  background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(103, 75, 13, 1) 100%, rgba(0, 0, 0, 1) 100%);
 } */